// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.anaheim-normal {
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.anaheim-bold {
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.hidden{
    display:none;
}

body {
    background-color: #e7e7e7;
    border-color: white;
    border-width: 10px;
    margin: 20px;
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, lable {
    text-align: center;
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

input[type="text"] {
    background: white;
    border:none;
    margin:2px;
    
}

.head, .attributes, .abilities, .backgrounds {
    /*border:dashed 1px black;*/
    padding: 0px;
    margin: 0px;
}
.head_input {
    /*border: dashed 1px black;*/
   
}
.wide{
 width:100%; 
}

.dots {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin-left: 2px;
    border:solid 1px black;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin-left: 2px;
}

.box {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    margin-left: 2px;
}

.left {
    text-align: left;
}

.right{
    text-align:right;
}
.special{
    font-style:italic;
    margin-left:5px;
}

.inum {
    text-align: center;
}

.center {
    text-align: center;
}

.gifts{
    display:inline;
    float:left;
    position:relative;
    margin:5px;
}

.row{
    border: 1px solid white;
    padding:10px;
}

.glory{
    display:none;
}

.health {
    display: inline-block;
    margin: 5px;
    width:15%;
}

.home {
    center {
        margin: auto;
        padding: 50px;
    }

    ul {
        list-style-type: none;
        margin: 1em;
        padding: 1em;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }

    li a {
        display: block;
        color: rgb(174, 245, 252);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        margin: 5px;
    }
}

.signup {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #ddd;
    }

    li a.active {
        color: white;
        background-color: #4CAF50;
    }
}

.index {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #ddd;
    }

    li a.active {
        color: white;
        background-color: #4CAF50;
    }

}

.my_btn {
 
    font-weight: 800;
    padding: 0px 7px;
}

#experience{
    width:100%;
    border:none;
}